@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(226 232 240);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

code{

  background-color: #eee;
  border-radius: 3px;
  display: inline-block;
  font-family: courier, monospace;
  line-break: anywhere;
  padding: 5px 10px;
  width: 100%;
  
}